body {
 font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
  color: #222;
}

nav a {
color: white;
margin: 0 0.5rem;
text-decoration: none;
font-weight: bold;
}

#temples {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1rem;
padding: 1rem;
}


article {
border: 1px solid #ccc;
padding: 1rem;
text-align: center;
}

article img {
max-width: 100%;
height: auto;
}

footer {
background-color: #2c3e50;
color: white;
text-align: center;
padding: 1rem;
}

/* ---------- Header ---------- */
header {
  background-color: #2c3e50;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}
#menu-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ---------- Navigation ---------- */
nav {
  display: none;
  flex-direction: column;
  background-color: #34495e;
}

nav a {
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  text-align: center;
}

nav a:hover {
  background-color: #1abc9c;
  color: #000;
}

nav.show {
  display: flex;
}
